<div class="modal fade show exitmodal modal-lg" tabIndex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add people</h5>
        <button
          type="button"
          class="btn-close"
          aria-label="Close"
          (click)="closeModal()"
        ></button>
      </div>
      <form [formGroup]="addPeopleForm" (ngSubmit)="onSubmit()">
        <div class="modal-body text-start">
          <div class="form-check text-start mb-3">
            <input
              class="form-check-input"
              type="radio"
              id="manual"
              formControlName="assignmentType"
              value="manual"
            /><label class="form-check-label" for="notes"
              >Selected students, staff, visitors or others</label
            >
          </div>
          <div class="mb-3">
            <span class="bold">Add groups</span>
            <select class="form-select" (change)="pushGroup($event)">
              <option selected disabled>Add groups</option>
              @for (group of yearGroups; track group) {
              <option [value]="group">
                <span>{{ group }}</span>
              </option>
              }
            </select>
            @if (selectedGroups.length > 0) {
            <div class="mt-1 text-start">
              @for (group of selectedGroups; track group) {
              <span
                [id]="group"
                (click)="popGroup($event)"
                class="badge bg-primary me-2 fs-7"
                key="key"
                >{{ group }}</span
              >
              }
            </div>
            }
          </div>
          <span class="bold">Add individuals</span>
          <select class="form-select" (change)="pushPerson($event)">
            <option selected disabled>Add individuals</option>
            @for (person of people; track person.id) {
            <option [value]="person.id">
              <span>{{ person.first_name }}&nbsp;{{ person.last_name }}</span>
            </option>
            }
          </select>
          @if (selectedPeople.length > 0) {
          <div class="mt-1 text-start">
            @for (person of selectedPeople; track person.id) {
            <span
              (click)="popPerson($event)"
              class="badge bg-primary me-2 fs-7"
              key="key"
              [id]="person.id"
              >{{ person.first_name }}&nbsp;{{ person.last_name }}</span
            >
            }
          </div>
          }

          <!-- {selectedPupils.length > 0 && (
        <div class="mt-1 text-start">
          {selectedPupils.map((group, index) => (
          <span class="badge bg-primary me-2 fs-7" key="{index}">{group}</span>
          ))}
        </div>
        )} -->
          <div class="form-check text-start mt-5">
            <input
              class="form-check-input"
              type="radio"
              id="global"
              formControlName="assignmentType"
              value="global"
            /><label class="form-check-label mb-3" for="notes"
              >Auto-assign</label
            >
            <p>
              Assigned to everyone currently in the school and will
              automatically include any new joiners in the future.
            </p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-link" (click)="closeModal()">
            Cancel
          </button>
          <button type="submit" class="btn btn-primary">Confirm</button>
        </div>
      </form>
    </div>
  </div>
</div>
