<div class="modal fade show exitmodal" tabIndex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Unsaved changes</h5>
            <button type="button" class="btn-close" aria-label="Close" (click)="closeModal()"></button>
          </div>
          <div class="modal-body">
            <p>Are you sure you want to leave? Your changes will not be saved.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" (click)="closeModal()">
              Lose changes
            </button>
            <button type="button" class="btn btn-primary" (click)="closeModal()">
              Continue editing
            </button>
          </div>
        </div>
      </div>
    </div>