<form [formGroup]="paymentItemForm" (ngSubmit)="handleSubmit()">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Details</h5>
      <div class="mb-3 text-start col-3">
        <label for="itemName" class="form-label">Item name</label>
        <input
          type="text"
          class="form-control"
          id="itemName"
          formControlName="itemName"
        />
        @if (submitClicked && itemName && itemName.hasError('required')) {
        <div class="text-danger">Item name is required</div>
        }
      </div>
      <div class="mb-3 text-start col-3">
        <label for="itemShortName" class="form-label mb-0"
          >Item short name</label
        >
        <small class="text-muted">
          <p class="mb-1">Used in SMS messages</p>
        </small>
        <input
          type="text"
          class="form-control"
          id="itemShortName"
          formControlName="itemShortName"
        />
        @if (submitClicked && itemShortName &&
        itemShortName.hasError('required')) {
        <div class="text-danger">Item short name is required</div>
        }
      </div>
      <div class="mb-3 text-start">
        <label for="description" class="form-label mb-0">Description</label>
        <small class="text-muted">
          <p class="mb-1">Provide information about your payment item</p>
        </small>
        <textarea
          class="form-control"
          id="description"
          rows="3"
          formControlName="description"
          placeholder="Enter a description of the item here..."
        ></textarea>
        @if (submitClicked && description && description.hasError('required')) {
        <div class="text-danger">Description is required</div>
        }
      </div>
      <div class="mb-3 text-start">
        <label for="notes" class="form-label mb-0"
          >Additional information needed</label
        >
        <div class="col-3">
          <select
            id="notes"
            class="form-select"
            aria-label="notes"
            formControlName="notes"
          >
            @for (note of notes; track note) {
            <option value="{{ note }}">{{ note }}</option>
            }
          </select>
        </div>
      </div>

      <div class="mb-3 text-start">
        <label for="category" class="form-label mb-0"
          >Category (optional)</label
        >
        <div class="col-3">
          <select
            id="category"
            class="form-select"
            aria-label="category"
            formControlName="category"
          >
            @for (category of categories; track category) {
            <option value="{{ category }}">{{ category }}</option>
            }
          </select>
        </div>
      </div>

      <div class="mb-3 text-start">
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            formControlName="requireConsent"
            id="consent"
          />
          <label class="form-check-label" for="consent">
            Tick if you require parents/carers to provide consent
          </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            formControlName="enableAlert"
            id="newItemAlert"
          />
          <label class="form-check-label" for="newItemAlert">
            Tick if you wish to enable a new item alert for your parents/carers
          </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            formControlName="enablePayPoint"
            id="PayPoint"
          />
          <label class="form-check-label" for="PayPoint">
            Tick if you wish to be able to accept payments by PayPoint for this
            item
          </label>
        </div>
      </div>
    </div>
  </div>
  <!-- TODO delete this -->
  <div class="text-start">
    <button class="btn btn-link mt-2" type="button" (click)="goForward()">
      Go forward (this isn't real)
    </button>
  </div>
  <div class="text-end">
    <button
      type="button"
      class="btn btn-light mt-2 me-2"
      (click)="exitWithoutSaving()"
    >
      Cancel
    </button>
    <button type="submit" class="btn btn-primary mt-2">
      Continue to quantities
    </button>
  </div>

  @if (modalService.showModalSignal()){
  <app-exit-modal />
  }
</form>
