<div
  class="banner jumbotron no-watermark"
  data-test-id="welcome-banner-homepage"
>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-8 text-start">
        <div class="header-content">
          <div class="welcome" data-test-id="name-id-homepage">
            Welcome, Jessica Jack
          </div>
          <div data-test-id="schoolname-homepage"></div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="support-area">
          <div class="support-code" data-test-id="support-code-homepage">
            Support code: 00000
          </div>
          <div data-test-id="school-id-homepage">School ID: 00000</div>
        </div>
      </div>
    </div>
  </div>
</div>
