<form [formGroup]="peopleForm" (ngSubmit)="onSubmit()">
  @if (formCtxSvc.showPeopleInitialStateSignal()){
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Assign people</h5>
      <!-- THIS IS RYAN JUST DOING WHATEVER KIND OF BOOTSTRAP STUFF HE CAN FIND. 🤪 HALP! -->
      <div class="container-fluid border border-1 rounded p-4 text-center">
        <h4 class="text-center mb-5">
          Assign students, staff, visitors or others
        </h4>
        <button class="btn btn-primary" type="button" (click)="showAddModal()">
          Add people
        </button>
      </div>
    </div>
  </div>

  } @if (showGlobal){
  <app-global-add />
  } @if (formCtxSvc.showPeoplePreviewSignal()){
  <app-manual-add />
  }
  <div class="trips-buttons">
    <div class="text-start">
      <button class="btn btn-link mt-2">Back</button>
    </div>
    <div class="text-end">
      <button
        type="button"
        class="btn btn-light mt-2 me-2"
        (click)="cancelClicked()"
      >
        Cancel
      </button>
      @if (!successResponse && (showGlobal || showManual)){<button
        class="btn btn-primary mt-2"
      >
        Save</button
      >} @if (successResponse) {
      <button class="btn btn-primary mt-2">Continue</button>
      } @if (modalService.addPeopleModalSignal()){
      <app-add-modal />
      }
      <!-- {showModal && <Modal onClose={closeModal} />} -->
    </div>
  </div>
</form>
