<div>
            <ul class="nav nav-pills nav-fill tier-1" data-test-id="navigation-menu-top-homepage">
                <li class="nav-item">
                    <a>My ParentPay</a>
                </li>
                <li class="nav-item">
                    <a>Attendance, meals & events</a>
                </li>
                <li class="nav-item">      <a>Communication</a> </li>
                <li class="nav-item">      <a>People</a></li>
                <li class="nav-item">      <a>Finance</a></li>
                <li class="nav-item">      <a>Settings</a></li>
            </ul>

            <div data-test-id="navigation-menu-bottom-homepage">
                <ul class="nav nav-pills nav-fill tier-2">
                    <li class="nav-item">
                        <a>Trips</a></li>
                    <li class="nav-item">
                        <a>View other payment item</a></li>
                    <li class="nav-item">        <a>Create other payment item</a> </li>
                    <li class="nav-item">        <a>Reports</a></li>
                </ul>
            </div>
        </div>