<form [formGroup]="costsForm" (ngSubmit)="handleSubmit()">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Price</h5>

      <div class="mb-3 text-start">
        <label class="form-label bold">Cost</label>
        <div class="col-3">
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              formControlName="variableCostOption"
              value="fixed"
            />
            <label class="form-check-label me-3" for="fixedamount">Fixed</label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              formControlName="variableCostOption"
              value="variable"
            />
            <label class="form-check-label" for="variable">Variable</label>
          </div>
        </div>
      </div>
      @if (variableCostOption && variableCostOption.value === 'fixed'){
      <div class="mb-3 text-start col-3">
        <label for="fixedAmount" class="form-label visually-hidden"
          >Fixed cost</label
        >
        <div class="input-group">
          <span class="input-group-text" id="basic-addon1">£</span>
          <input
            type="number"
            class="form-control"
            id="fixedAmount"
            formControlName="fixedCost"
          />
        </div>
        @if (submitClicked && fixedCost && fixedCost.hasError('required')) {
        <div class="text-danger">Amount is required</div>
        }
      </div>
      } @if (variableCostOption && variableCostOption.value === 'variable'){

      <div class="row mb-3 text-start">
        <div class="col-2">
          <label for="defaultAmount" class="form-label">Default amount</label>
          <div class="input-group">
            <span class="input-group-text" id="basic-addon1">£</span>
            <input
              type="number"
              class="form-control"
              id="defaultAmount"
              formControlName="variableDefault"
            />
          </div>
        </div>
        <div class="col-2">
          <label for="minimumAmount" class="form-label">Minimum amount</label>
          <div class="input-group">
            <span class="input-group-text" id="basic-addon1">£</span>
            <input
              type="number"
              class="form-control"
              id="minimumAmount"
              formControlName="variableMin"
            />
          </div>
        </div>
        <div class="col-2">
          <label for="maximumAmount" class="form-label">Maximum amount</label>
          <div class="input-group">
            <span class="input-group-text" id="basic-addon1">£</span>
            <input
              type="number"
              class="form-control"
              id="maximumAmount"
              formControlName="variableMax"
            />
          </div>
        </div>
        @if (submitClicked && variableCostOption &&
        (variableDefault!.hasError('required') ||
        variableMin!.hasError('required') ||
        variableMax!.hasError('required'))){
        <div class="text-danger">Fill out all amount fields</div>
        }
      </div>

      }
      <hr />
      <div class="mb-3 text-start">
        <label class="form-label bold mb-0">Due date</label>
        <small class="text-muted">
          <p class="mb-2">Payments can be made after this date</p>
        </small>
        <div class="col-3">
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              formControlName="hasDueDate"
              value="true"
            />
            <label class="form-check-label me-3" for="paymentDue">Yes</label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              formControlName="hasDueDate"
              value="false"
            />
            <label class="form-check-label" for="noPaymentDue">No</label>
          </div>
        </div>
      </div>
      @if (hasDueDate && hasDueDate.value === 'true'){

      <div class="mb-3 text-start col-3">
        <label for="dueDate" class="form-label">Due date</label>
        <input
          type="date"
          class="form-control"
          id="dueDate"
          formControlName="dueDate"
        />
        @if (submitClicked && dueDate && dueDate.hasError('required')) {
        <div class="text-danger">Select a due date</div>
        }
      </div>

      }
      <hr />
      <div class="mb-3 text-start">
        <label for="bankAccount" class="form-label bold">Bank account</label>
        <div class="col-3">
          <select
            class="form-select col-3"
            id="bankAccount"
            formControlName="bankAccount"
          >
            <option value="">Select...</option>
            @for (code of bankAcctNums; track code) {
            <option value="{{ code }}">{{ code }}</option>
            }
          </select>
        </div>
        @if (submitClicked && bankAccount && bankAccount.hasError('required')) {
        <div class="text-danger">Select a bank account</div>
        }
      </div>
      <div class="mb-3 text-start">
        <label class="form-label bold"
          >Do you want to add accounting codes?</label
        >
        <div class="col-3">
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              formControlName="addAccountingCodes"
              value="true"
            />
            <label class="form-check-label me-3" for="addAccountingCodesYes"
              >Yes</label
            >
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              formControlName="addAccountingCodes"
              value="false"
            />
            <label class="form-check-label" for="addAccountingCodesNo"
              >No</label
            >
          </div>
        </div>
      </div>
      @if (addAccountingCodes && addAccountingCodes.value === 'true'){

      <table class="table table-bordered table-striped">
        <thead></thead>
        <tbody>
          <tr>
            <td>Group code 1</td>
            <td>
              <label for="accountcode1" class="form-label">Account code:</label>
              <input type="text" class="form-control" id="accountcode1" />
            </td>
            <td>
              <label for="description1" class="form-label">Description:</label>
              <input type="text" class="form-control" id="description1" />
            </td>
          </tr>
          <tr>
            <td>Group code 2</td>
            <td>
              <label for="accountcode2" class="form-label">Account code:</label>
              <input type="text" class="form-control" id="accountcode2" />
            </td>
            <td>
              <label for="description2" class="form-label">Description:</label>
              <input type="text" class="form-control" id="description2" />
            </td>
          </tr>
          <tr>
            <td>Group code 3</td>
            <td>
              <label for="accountcode3" class="form-label">Account code:</label>
              <input type="text" class="form-control" id="accountcode3" />
            </td>
            <td>
              <label for="description3" class="form-label">Description:</label>
              <input type="text" class="form-control" id="description3" />
            </td>
          </tr>
          <tr>
            <td>
              CRF code
              <select class="form-select" aria-label="Default select example">
                <option selected>Open this select menu</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </td>
            <td>
              <label for="accountcode4" class="form-label">Account code:</label>
              <input type="text" class="form-control" id="accountcode4" />
            </td>
            <td>
              <label for="description4" class="form-label">Description:</label>
              <input type="text" class="form-control" id="description4" />
            </td>
          </tr>
          <tr>
            <td>Management code 1</td>
            <td>
              <label for="accountcode5" class="form-label">Account code:</label>
              <input type="text" class="form-control" id="accountcode5" />
            </td>
            <td>
              <label for="description5" class="form-label">Description:</label>
              <input type="text" class="form-control" id="description5" />
            </td>
          </tr>
          <tr>
            <td>Management code 2</td>
            <td>
              <label for="accountcode6" class="form-label">Account code:</label>
              <input type="text" class="form-control" id="accountcode6" />
            </td>
            <td>
              <label for="description6" class="form-label">Description:</label>
              <input type="text" class="form-control" id="description6" />
            </td>
          </tr>
        </tbody>
      </table>
      }
    </div>
  </div>

  <div class="trips-buttons">
    <div class="text-start">
      <!-- TODO delete this -->
      <button class="btn btn-link mt-2" type="button" (click)="goForward()">
        Go forward (this isn't real)
      </button>
      <button class="btn btn-link mt-2" type="button" (click)="goBack()">
        Back
      </button>
    </div>
    <div class="text-end">
      <button
        type="button"
        class="btn btn-light mt-2 me-2"
        (click)="exitWithoutSaving()"
      >
        Cancel
      </button>
      <button type="submit" class="btn btn-primary mt-2">
        Continue to People
      </button>
    </div>
    @if (modalService.showModalSignal()){
    <app-exit-modal />
    }
  </div>
</form>
